.welcome{
	padding: 35px;
	margin: auto;
	background-color: #e5e5e5;
	width: 60%;
	text-align: center;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #00536E;
	font: monospace;
}

h1,
p {
	color: #008CBA;
	font-family: 'Montserrat', sans-serif;

}